<div class="row">
    <div class="col-md-3">
        <select class="form-control" ng-change='oncardType()' required ng-model='type'>
            <option value='Mastercard'>Mastercard</option>
            <option value='Visa'>Visa</option>
            <option value='Amex'>Amex</option>
            <option value='Discover'>Discover</option>
        </select>
    </div>
    <div class="col-md-6">
        <input class="form-control" ng-model='value' ng-change='oncardType()' minlength='13' maxlength='19' data-ng-pattern='/^[0-9]+$/' placeholder='Enter credit card number' />
    </div>
    <div class="col-md-3">
    	<span class='msg' ng-class="validity ? 'valid' : 'invalid'">{{msg}}<span>
    </div>
    
</div>
